# Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

## Importing orders file

In [2]:
# telling computer that path equals the string of my porject folder
path = r'/Users/terencekeys/Downloads/Shawzz Folder/06-2023 Instacart Basket Analysis'

In [3]:
# telling the computer that the data frame-orders-is equal to the statement
# the statement is telling the computer  to read the csv file in pandas and showing the path to it.
# and the index column is false, meaning no reading that column
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

## Importing orders wrangled

In [4]:
path = r'/Users/terencekeys/Downloads/Shawzz Folder/06-2023 Instacart Basket Analysis/02 Data/Prepared Data'

In [5]:
df_ords_wrngd = pd.read_csv(os.path.join(path, 'orders_wrangled.csv'), index_col = False)

# 2.

In [6]:
# Running a description function on the orders file.
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

For the count of each column the values are all the same except for the days_since_prior_order. That doesn't seem right to me.
To be honest none of the values with decimals makes sense to me. The whole numbers makes sense.

# 3.

In [7]:
# Checking for mixed-type data
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

# 4.

In [8]:
# There is no out for the function so I don't think there is any mixed-type data.

# 5.

In [9]:
# Finding missing values.
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [10]:
# There are 206,209 values that are missing in the days_since_prior_order column.
# There may have been customers that never bought anything else besides the items in that order.

# 6.

In [11]:
# Making a subset of the missing values.
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [12]:
# Checking the results of the new dataframe subset nan.
df_nan

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [13]:
# Figuring out the median
df_nan.median()

/var/folders/k_/d8mq05nx3_xb10m254935x_40000gn/T/ipykernel_83326/2090059976.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_nan.median()

order_id                  1706246.0
user_id                    103105.0
order_number                    1.0
order_dow                       3.0
order_hour_of_day              14.0
days_since_prior_order          NaN
dtype: float64

In [14]:
# fill in missing values with the mean of each column
df['days_since_prior_order'].fillna(mean value, inplace=True)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1927312768.py, line 2)

In [15]:
# I'm not sure what happened because it is a numeric value not a string.

In [16]:
# I used this method because I am already familiar with it working with iit in the exercise.

# 7.

In [17]:
# Checking for duplicates
df_dups = df_nan[df_nan.duplicated()]

In [18]:
# Seeing what values were duplicates
df_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [19]:
# No values show up so I'm assuming there are no duplicate data.

# 8.

In [20]:
# Addressing duplicates
df_dups.shape

(0, 7)

In [21]:
# There are no dupliactes to address. 
# And this is the only function I've used for addressing duplicates

# 9.

In [24]:
# Converting new cleaned products file into prepared data folder.
df_ords.to_csv(os.path.join(path, 'df_ords_4.5.csv'))